h1.features__title Features
p.features__desc Some of the features and advantages that we provide for those of you who store data in this Data Warehouse.
.features__slider-wrap
  .features__slider
    ol.features__list
      li.features__item.feature
        h2.feature__title First Feature
        p.feature__desc Little Red Cap opened her eyes and when she saw the sunbeams dancing to and fro through the trees and how the ground was covered with beautiful flowers.
        a(href="#").feature__link Learn more
      li.features__item.feature
        h2.feature__title Second Feature
        p.feature__desc Each time she picked one she thought that she could see an even more beautiful one a little way off, and she ran after it, going further and further into the woods.
        a(href="#").feature__link Learn more
      li.features__item.features__item--new.feature
        h2.feature__title Third Feature
        p.feature__desc The wolf pressed the latch, and the door opened. He stepped inside, went straight to the grandmother's bed, and ate her up.
        a(href="#").feature__link Learn more
      li.features__item.feature
        h2.feature__title Fourth Feature
        p.feature__desc Little Red Cap had run after the flowers. After she had gathered so many that she could not carry any more, she remembered her grandmother.
        a(href="#").feature__link Learn more
  .features__toggles-wrap
    button(type = "button").features__toggle.features__toggle--active
    button(type = "button").features__toggle
    button(type = "button").features__toggle
    button(type = "button").features__toggle