footer.footer
  a(href="#").footer__logo
    img(src="img/logo-footer.svg", alt="logo")
  .footer__info
    a(href="#").footer__link About Us
    a(href="#").footer__link Privacy Policy
  form.footer__form(action="POST")
    label.visually-hidden(for="email")
    input.footer__input(type="email" id="email" name = "email" plaseholder = "Enter your email")
    button.footer__btn(type="submit") Sign Up Now
