header.header
  a(href="#").header__logo
    img(src="img/logo-header.svg", alt="logo")
  button.header__menu-btn
  .header__menu.menu
    ul.menu__list
      li.menu__item
        a(href="#").menu__link About
      li.menu__item
        a(href="#").menu__link Help
        ul.menu__submenu.submenu
          li.submenu__item
            a(href="#").submenu__link User Guide
          li.submenu__item
            a(href="#").submenu__link Contact Support
      li.menu__item
        a(href="#").menu__link Features
    button.menu__btn(type="button") Sign Up