$font-main: "Roboto", sans-serif;
$mobile-width: 320px;
$tablet-width: 768px;
$desktop-width: 1920px;

$orange-light: #ffc84d;
$orange: #ffbe2d;
$orange-dark: #eeaa12;

$lilac-light: #d6b9ff;
$lilac: #b17ff4;
$lilac-dark: #9c69e2;

$white: #ffffff;
$white-lilac: #f9f4ff;
$white-orange: #fff3d7;

$black: #212353;
$gray: #a9a0b6;
$purple: #f063b8;
